fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
pydantic
pydantic-settings
python-jose[cryptography]
passlib
bcrypt==3.2.0
google-genai
pandas
python-multipart
sentence-transformers
scikit-learn
slowapi
alembic

